

   <h1 class="">hellow</h1>

<div class="container mt-5">
  <h1 class="text-center">Todo List</h1>
  <div>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <input type="text" name="addTodo"         [(ngModel)]="toDo.addTodo"
      class="form-control mb-3" placeholder="Enter a todo" />
  <button class="btn btn-success">{{editMode ? 'Update ToDo' : 'save ToDo'}}</button>
    </form>
  </div>
</div>
<div class="container mt-5">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>SrNo</th>
        <th>ToDo</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (item of toDoList; track $index) {
        <tr >
          <td>{{$index+1}}</td>
          <td>{{item.addTodo}}</td>
          <td>
            <button class="bg-primary" (click)="onEdit(item)">Edit</button>
            <button class="ms-2 bg-danger" (click)="onDelete(item.id)">Delete</button>
          </td>
        </tr>
      }
    
    </tbody>
  </table>
</div>



